/*登录、注册、修改密码css样式*/
html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"], .form-signin input[type="email"], .form-signin input[type="password"] {
    margin-bottom: -1px;
}

.checkbox {
    margin-top: 15px;
}

#confirmPassword {
    margin-bottom: 15px;
}